@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#navbar{
		background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

body{
	background-color: white;
	font-family: "rubik", sans-serif;

}


*{
/*	border:red solid;*/
}

#logo {
  width: 120px;
  display:inline-flex;
  justify-content: left;
}

#menu{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.contenu{
    gap: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    background-color:rgb(51, 105, 132);
    width: 800px;
    height: 150px;
    border-radius: 8px;
}


.contenu h1{
  color: white;
  display: flex;
	font-size: 35px;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	border: 0;
	margin:10px;
}

.contenu h2{
	color: white;
  display: flex;
	justify-content: center;
	margin:0px;
}

.first{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	height: 380px;
	background-color: white;
	}

#boite{
	display: flex;
	height: 320px;
	background: white;    
	padding: 30px;                           
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1); 
	width: 320px;
	margin-right: 200px;
}


.img-circle {
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  height: 100px;
}


.img-bordered {
  border: 10px grey;
}

.p{
		display: flex;
    width: 567px;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 183px;
    margin-top: 32px;
}



.contenu2{
		display: flex;
    gap: 4px;
    height: 153px;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    align-items: center;
    flex-direction: row;
    width: 856px;
		}

.contenu2 h1{
  color: darkred;
  display: flex;
	font-size: 51px;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	border: 0;
}

.contenu2 h2{
	color: darkred;
  display: flex;
	justify-content: center;
	margin: 0px;
}



#team p{
	display: flex;
	font-size: 16px;
}


#divteam {
	display: flex;

}
#team h2{
		display: flex;
    color: #211e1e;
    justify-content: center;
    font-size: 40Px;
    margin: 0px;
}


.layout{
	width: 800px;
	gap: 40px;
}
.produits{
	max-width: 800px;
	gap: 80px;
	p{
		margin: 64px;
	}
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}
.margin{
	margin-bottom: 144px;
}

.thumbnail{
	flex-direction: column;
}

.social{
	margin-top: 50px;
	margin-bottom: 50px;
	gap: 60px;
}

#navbar{
		background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
